@import '../scss/_mixins';

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: var(--size-1x);
	padding: 0 var(--size-1x);

	h2 {
		color: var(--primary);
	}
}

@include media($max: $mobile) {
	.title {
		gap: .5rem;
		padding: 0;

		h2 {
			font-size: 1.75rem;
			letter-spacing: -.03rem;
		}

		p {
			font-size: .825rem;
			line-height: 1.4;
		}
	}
}